<launch>
  <!-- Load the URDF from xacro into robot_description -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find elegoo_description)/urdf/elegoo.urdf.xacro"/>

  <!-- Publishers -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
