<launch>
  <!-- Start empty Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Load robot_description from xacro -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find elegoo_description)/urdf/elegoo.urdf.xacro"/>

  <!-- Publish TF -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <!-- Spawn into Gazebo from robot_description -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model elegoo_car"/>
</launch>